<header>
  <a class="logo" href="#">
    <img src="assets/Logo_letras.png" alt="logo">
  </a>
  <div class="menuToggle" (click)="toggleMenu()">
    <fa-icon [icon]="icon ? close : bars" size="xl"></fa-icon>
  </div>
  <ul class="navigation">
    <li><a href="#home">Inicio</a></li>
    <li><a href="#presentation">¿Quiénes somos?</a></li>
    <li><a href="#bases">Bases</a></li>
    <li><a href="#goals">Objetivos</a></li>
    <li><a href="#investigation">Investigación</a></li>
    <li><a href="#results">Resultados</a></li>
    <li><a href="#team">Equipo</a></li>
  </ul>
</header>
