<div class="investigation" id="presentation">
  <img src="assets/team.jpg" alt="team">
  <div class="row">
    <div class="col70">
      <div class="divider-small"></div>
      <h2 class="titleText">¿Quiénes somos?</h2>
      <p class="border-box" >
        Somos un grupo de estudiantes de 3er año de Administración de Empresas Mención Mercadeo. Que buscamos innovar a través una nueva marca llamada Tarty Tuiz y a su vez contribuir a la sociedad en crear una nueva forma de consumir un producto libre de azúcar para mejorar la calidad de vida.
      </p>
    </div>
  </div>
</div>
