<div class="investigation" id="investigation">
  <div class="row">
    <div class="col30">
      <div class="imgBx">
        <img src="assets/bg-home.jpg" alt="investigation" class="border-box">
      </div>
    </div>
    <div class="col70">
      <div class="divider-small"></div>
      <h2 class="titleText">Investigación</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo voluptas totam veritatis accusamus, laborum perferendis neque voluptatem, reprehenderit et architecto, eum dignissimos autem fugiat. Ipsa reiciendis deleniti cupiditate. Dolor, velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt soluta enim debitis ipsam quasi, cum magni culpa iusto eos sunt, maiores tempora mollitia porro maxime. Explicabo, quae iste! Odio, veritatis!
      </p>
    </div>
  </div>
</div>
