<div class="investigation" id="investigation">
  <img src="assets/team.jpg" alt="team">
  <div class="row">
    <div class="col70">
      <div class="divider-small"></div>
      <h2 class="titleText">Investigación</h2>
      <p class="border-box" >
        Para medir la aceptación del producto a través de la evaluación de las características organolépticas de la tarta de mora realizamos una encuesta a 30 personas en la sede de la Universidad Católica del Táchira sede Sabana Larga el día 15 de marzo de 2023, donde participaron el personal docente, estudiantil y administrativo de la institución.
      </p>
    </div>
  </div>
</div>
