<div class="base" id="bases">
  <div class="row">
    <div class="col70">
      <div class="divider-small"></div>
      <h2 class="titleText">En qué nos basamos para crearlo</h2>
      <p>
        El consumo frecuente de azúcar es perjudicial para la salud, aumenta las probabilidades de padecer cáncer, enfermedades hepáticas, coronarias, diabetes tipo II y puede ocasionar daños cerebrales y deficiencias en la memoria.
        <br>
        Esto limita a muchas a personas a no poder o querer consumir productos dulces compuestos de azúcar, por lo que te traemos la solución, un producto igual de dulce al común, igual de sabroso y apetitoso, pero totalmente libre de azúcar, que te permitirá saciar el deseo de darte un gusto, sin remordimiento alguno.
        <br>
        Y no es nada menos que nuestra tarta de mora endulzada 100% con el extracto obtenido de la planta de estevia, un endulzante natural que realiza la misma función del azúcar, suele ser hasta 200 y 300 veces más dulce que la sacarosa, sin conservantes químicos, ni aditivos.
        <br>
        ¿Y sabes qué es lo mejor? Que su consumo te aporta 0 calorías dentro de tu dieta, por lo que te ayudara a reducir tu peso mientras disfrutas de un delicioso postre.
        <br>
        Y no creas que esto es solo para personas enfermas o que son propensas a sufrir enfermedades de ese tipo, claro que no, tú también puedes consumirla, si quieres cuidar tu salud y a la vez llenar tu vida de sabor no hay mejor opción que una <span>TARTY TUIZ</span> .
      </p>
    </div>
    <div class="col30">
      <div class="imgBx">
        <img src="assets/free_sugar.jpg" alt="bases" class="border-box">
      </div>
    </div>
  </div>
</div>
